html {
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
    background-color: #dae8dd;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

    input:focus {
        outline: none;
    }

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

ui {
    text-align: center;
}

footer {
    border: 1px solid #2d2f35;
    color: #8a8473;
    position: -webkit-sticky; /* For Safari */
    bottom: 0;
}

.remove {
    padding-bottom: 5px;
}