#menuBG {
    width: 600px;
    height: 200px;
    margin: 10px auto;
    background-color: #004d00;
    padding-left: 50px;
}

#frmMenu {
    width: 500px;
    height: 700px;
    font-family: 'Libre Caslon Display, serif';
    margin: auto;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;  
    float: left;
    background-color: #ffd480;
    border: px solid #ffcc66;
    border-radius: 5px;
    margin: 10px;
    padding-left: 30px;
}

.right {
    width: 200px;
    float: right;
    background-color: #ffd480;
    border: px solid #ffcc66;
    border-radius: 5px;
    margin: 10px;
    padding-left: 30px;
}

.top {
    height: 200px;
}

.bottom{
    height: 450px;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    height: 200px;
}

#btnOrder {
    margin-left: 225px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: darkslategrey;
    font-weight: 600;
}

body {
    background-image: url("../img/gingham3.jpg");
    background-color: red;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #fff;
    text-align: center;
    margin-right: 20px;
}

h2 {
    font-family: 'Libre Caslon Display', serif;
    color: #fff;
    text-align: center;
    margin-right: 12px;
}

h3 {
    font-family: 'Libre Caslon Display', serif;
}

input{
    text-align: justify;
    font-family: 'Libre Caslon Display', serif;
}

.cheesepull {
    width: 150px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 50%;
}